.margin-top-15 {
    margin-top: 15vh;
}

.center {
    margin: auto;
    display: block;
    width: fit-content;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputlabel {
    background-color: #F1F2FA; 
    color: #1B5872;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: inherit;
}

.disable-hover-pointer:hover {
    cursor: auto;
}

.distribute, .help {
    background-color: #636EC2;
    color: white;
    padding: 16px 32px;
    text-align: center;
    cursor: pointer;
    width: 270px;
}

#special_a {
    color: white;
}

#special_a:hover {
    text-decoration: none;
}